@charset "UTF-8";
/* CSS Document */

body {
	/*background-color:#404040;*/
    background-color: #ffffff;
    font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin:0px;
    text-align: center;
    min-height: 100vh;
}
.gridize {
    display: grid;
    display: -ms-grid;
    /*align-items: center;*/
    /*width: 100%;*/
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto auto;
}
.gridize > .meui {
    padding: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border-top: solid 1px #7d7d7d;
}
.imgt {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgt img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu01 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.menu02 {
    border-left: solid 1px #7d7d7d;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.menu03 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.menu04 {
    border-left: solid 1px #7d7d7d;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.menu05 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.neues {
    padding: 0.1rem 0rem;
    color: #000000;
    background-color: #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
.fots01 {
    padding: 0.1rem 1rem;
    color: #ffffff;
    background-color: #404040;
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
.fots02 {
    padding: 0.1rem 0rem;
    color: #ffffff;
    background-color: #404040;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 7 / 8;
}
@media (min-width: 768px) {
    .gridize {
        display: grid;
        /*display: -ms-grid;*/
        height: 100vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*-ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr auto;*/
    }
    .gridize > .meui {
        /*padding: 1.5rem;*/
        font-size: 1.5rem;
        background-color: #f0f0f0;
    }
    .gridize > .meui:hover {
        /*padding: 1.5rem;*/
        color: #ffffff;
        background-color: #7d7d7d;
    }
    .imgt {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }
    .menu01 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .menu02 {
        border-left: solid 1px #7d7d7d;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .menu03 {
        border-left: solid 1px #7d7d7d;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    .menu04 {
        border-left: solid 1px #7d7d7d;
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    .menu05 {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }
    .neues {
        padding: 0.1rem 0rem;
        color: #000000;
        background-color: #c9c9c9;
        text-align: center;
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }
    .fots01 {
        padding: 0.1rem 1.5rem;
        color: #ffffff;
        background-color: #404040;
        text-align: left;
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }
    .fots02 {
        padding: 0.1rem 0rem;
        color: #ffffff;
        background-color: #404040;
        text-align: center;
        grid-column: 1 / 5;
        grid-row: 8 / 9;
    }
}